**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstartsectionpath
**/.vs
**/.vscode
**/bin
**/obj
**/target
**/.vs
**/Docker
**/.docker
**/node_modules
**/npm-debug.log
**/dist
.git
.gitignore
.github
README.md

